@charset "utf-8";
@font-face {
	font-family: Lobster;
	src:url("../fonts/Lobster-Regular.ttf");
}
.heading {
	padding-top: 1px;
	text-align: center;
	font-size: 45px;
	height: 1200px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.heading h1 {
	font-family: Lobster;
}

body {
		background: url("../images/las_palmas_sign.jpg");
}